.body-bg {
  background-color: #25003d;;
  background-image: url('../img/flowers.png');
}

#editor ol li {
  list-style: decimal;
  margin-left: 1em;
}

#editor ul li {
  list-style: disc;
  margin-left: 1em;
}
